Include ~/.orbstack/ssh/config

Host *
  UseKeychain yes

Host 100.100.184.118
  HostName 100.100.184.118
  User cshort-udig


Host github.com
  hostname github.com
  # addkeystoagent yes
  # usekeychain yes
  identityfile ~/.ssh/chrisshort_udig_github
  
Host shortc.github.com
  hostname github.com
  # addkeystoagent yes
  # usekeychain yes
  identityfile ~/.ssh/shortc_github

Host chrisshort-udig.github.com
  hostname github.com
  # addkeystoagent yes
  # usekeychain yes
  identityfile ~/.ssh/chrisshort_udig_github
